<div class="devise-container pt-20">
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="text-2xl pl-3">Welcome!</h2>
  <p>- <%= t('.sign_up') %> -</p>

  <div class="flex">
    <div class="flex-1">
      <%= image_tag "Welcome-bro.png", alt: "新規登録へようこそ" %>
      <a href="https://storyset.com/event" class="text-gray-300 text-xs">Event illustrations by Storyset</a>
    </div>

    <div class="flex-1 px-4 mb-20">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%# 法人または一般の属性を選択するフォーム %>
        <div class="field">
          <%= f.radio_button :characteristic, :general %>
          <%= f.label :characteristic_general, "個人利用者", class: "mr-4" %>
          <%= f.radio_button :characteristic, :corporation %>
          <%= f.label :characteristic_general, "法人(個人農家/個人飲食店経営の方はこちら)" %>
          <p class="text-sm">＊個人利用の場合、レシピを投稿できません。</p>
        </div>

        <%# お名前を入力するフォーム %>
        <div class="field">
          <%= f.text_field :name, required: true, placeholder: "ユーザ名を50文字以内で入力してください", class: "pl-7" %>
          <i class="fa-solid fa-circle-user form-icon"></i>
        </div>

        <div class="field">
          <%= f.email_field :email, required: true, placeholder: "メールアドレス", class: "pl-7" %>
          <i class="fa-solid fa-envelope form-icon"></i>
        </div>

        <div class="field">
          <%# if @minimum_password_length %>
          <%# t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
          <%# end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを6文字以上で入力してください", class: "pl-7" %>
          <i class="fa-solid fa-lock form-icon"></i>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認のためパスワードを再入力してください", class: "pl-7" %>
          <i class="fa-solid fa-circle-check form-icon"></i>
        </div>

        <div class="actions mt-4 text-center">
          <%= f.submit t('.sign_up') %>
        </div>

        <div class="another-choice"><p>OR</p></div>

        <div class="field google-wrapper">
          <div class="google">
            <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
              <i class="fa-brands fa-google"></i>
              Googleアカウントでサインインする
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>