<% if recommend != nil %>
  <div class="recommend-wrapper commonCard-outstyle">
    <div class="flex-1">
      <% if recommend.menu_image.present? %>
        <%= image_tag recommend.menu_image.thumb.url, class: "recommed-img" %>
      <% else %>
        <%= image_tag recommend.menu_image.url, class: "recommed-img" %>
      <% end %>
    </div>
    <div class="flex-1 md:px-6">
      <p class="text-2xl mb-4"><%= recommend.title %></p>
      <p>調理時間： <%= recommend.cooking_time %>分</p>
      <p>目安費用： <%= recommend.cooking_cost %>円</p>
      <p class="mb-4">カロリー： <%= recommend.calorie %>kcal</p>
      <%= link_to recommend, class: "hover:text-quaternary" do %>
        <i class="fa-solid fa-caret-right"></i>  詳しく見る
      <% end %>
    </div>
  </div>
<% else %>
  <div class="makes-info-wrapper">
    <p>
      <i class="fa-solid fa-circle-info text-blue-700"></i> 「作ってみた！ <i class="fa-regular fa-thumbs-up"></i>」を複数回押すと、あなたにおすすめのレシピを表示します
    </p>
  </div>
<% end %>