<div class="recipe-container">
  <div class="recipe-form m-8">
    <%= form_with model: @recipe, local: true do |form| %>
      <div>
        <%= form.text_field :title, required: true, placeholder: 'タイトル' %>
      </div>
      <div class="flex field">
        <div>
          <%= form.label :content %><br>
          <%= form.text_area :content, required: true %>
        </div>
        <%# 調理時間、調理費用、カロリー入力欄 %>
        <div class="flex-col">
          <div>
            <%= form.label :cooking_time %>
            <%= form.number_field :cooking_time, in: 0..200 %>
          </div>
          <div>
            <%= form.label :cooking_cost %>
            <%= form.number_field :cooking_cost, in: 0..10000 %>
          </div>
          <div>
            <%= form.label :calorie %>
            <%= form.number_field :calorie, in: 0..3000 %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= form.label :menu_image %>
        <%= form.file_field :menu_image %>
      </div>
      <div><%= form.submit '投稿する' %></div>
    <% end %>
  </div>
</div>