<article class="commonCard-outstyle recipe-wrapper">
  <div>
    <div class="flex mb-2">
      <%= image_tag check_user_profile_image(recipe.user), class: "user-profileImage mr-2" %>
      <p><%= recipe.user.name %></p>
    </div>

    <%#　===== 投稿画像があればサムネイル用を表示、ない場合はデフォルト画像を表示 ===== %>
    <% if recipe.menu_image.present? %>
      <%= image_tag recipe.menu_image.thumb.url, class: "recipes-menuImg" %>
    <% else %>
      <%= image_tag recipe.menu_image.url, class: "recipes-menuImg" %>
    <% end %>
  </div>

  <div class="recipeArticle-content">
    <p class="text-xl text-center mt-2"><%= recipe.title %></p>
    <div class="cooking-info">
      <p><%= recipe.cooking_time %>分</p>
      <p><%= recipe.cooking_cost %>円</p>
      <p><%= recipe.calorie %>kcal</p>
    </div>

    <div class="mt-2 mb-4">
      <%= truncate(recipe.content, omision: "...", length: 100) %>
    </div>

    <div class="make-wrapper">
      <% if current_user.id != recipe.user_id %>
        <div class="flex">
          <p id="recipe-<%= recipe.id %>" class="make-icon mr-4">
            <% if recipe.maked_by?(current_user) %>
              <%# 「作ってみた!」を押している状態 %>
              <%= render "makes/make", recipe: recipe %>
            <% else %>
              <%# 「作ってみた!」を押していない状態 %>
              <%= render "makes/nonmake", recipe: recipe %>
            <% end %>
          </p>
          <%# ===== お気に入り機能 ===== %>
          <p id="favorite-<%= recipe.id %>" class="make-icon favorite-btn">
            <% if recipe.favorited_by?(current_user) %>
              <%= render "favorites/favorite", recipe: recipe %>
            <% else %>
              <%= render "favorites/nonfavorite", recipe: recipe %>
            <% end %>
          </p>
        </div>
      <% end %>

      <%= link_to recipe, class: "text-base hover:text-quaternary" do %>
        <i class="fa-solid fa-caret-right"></i>  詳しく見る
      <% end %>

      <% if current_user.id == recipe.user_id %>
        <div class="flex">
          <%= link_to edit_recipe_path(recipe) do %>
            <i class="fa-solid fa-pen-to-square recipe-edit"></i>
          <% end %>
          <%= link_to recipe_path(recipe), method: :delete, data: { confirm: '削除してもよろしいですか？'} do %>
            <i class="fa-solid fa-trash-can recipe-delete"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</article>
