<article class="commonCard-outstyle recipe-wrapper">
  <div>
    <div class="flex mb-2">
      <%= image_tag check_user_profile_image(recipe.user), class: "user-profileImage mr-2" %>
      <p><%= recipe.user.name %></p>
    </div>

    <%#　===== 投稿画像があればサムネイル用を表示、ない場合はデフォルト画像を表示 ===== %>
    <% if recipe.menu_image.present? %>
      <%= image_tag recipe.menu_image.thumb.url, class: "recipes-menuImg" %>
    <% else %>
      <%= image_tag recipe.menu_image.url, class: "recipes-menuImg" %>
    <% end %>
  </div>

  <div class="recipeArticle-content">
    <p class="text-xl text-center mt-2"><%= recipe.title %></p>
    <div class="cooking-info">
      <p><%= recipe.cooking_time %>分</p>
      <p><%= recipe.cooking_cost %>円</p>
      <p><%= recipe.calorie %>kcal</p>
    </div>

    <div class="mt-2 mb-4">
      <%= truncate(recipe.content, omision: "...", length: 100) %>
    </div>

    <% if user_signed_in? %>
      <div class="make-wrapper">
        <% if current_user.id != recipe.user_id %>
          <div class="flex">
            <%# =====「作ってみた！」とお気に入りの部分テンプレート ===== %>
            <%= render "recipes/shared/makes_favorites", recipe: recipe %>
          </div>
        <% end %>

        <%= link_to recipe, class: "text-base hover:text-quaternary" do %>
          <i class="fa-solid fa-caret-right"></i>  詳しく見る
        <% end %>

        <% if current_user.id == recipe.user_id %>
          <div class="flex">
            <%= link_to edit_recipe_path(recipe) do %>
              <i class="fa-solid fa-pen-to-square recipe-edit"></i>
            <% end %>
            <%= link_to recipe_path(recipe), method: :delete, data: { confirm: '削除してもよろしいですか？'} do %>
              <i class="fa-solid fa-trash-can recipe-delete"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</article>
