<article>
  <div>
    <%#　投稿画像があればサムネイル用を表示、ない場合はデフォルト画像を表示 %>
    <div>
      <% if recipe.menu_image.present? %>
        <%= image_tag recipe.menu_image.thumb.url %>
      <% else %>
        <%= image_tag recipe.menu_image.url %>
      <% end %>
    </div>
    <p><%= recipe.title %></p>
    <p>調理時間： <%= recipe.cooking_time %>分</p>
    <p>目安費用： <%= recipe.cooking_cost %>円</p>
    <p>カロリー： <%= recipe.calorie %>kcal</p>
    <% if current_user.id == recipe.user_id %>
      <p><%= link_to '編集', edit_recipe_path(recipe) %></p>
      <p><%= link_to '削除', recipe_path(recipe), method: :delete, data: { confirm: '削除してもよろしいですか？'} %></p>
    <% end %>
    <p>
      <% if recipe.maked_by?(current_user) %>
        <%# 「作ってみた!」を押している状態 %>
        <%= render "make", recipe: recipe %>
      <% else %>
        <%# 「作ってみた!」を押していない状態 %>
        <%= render "nonmake", recipe: recipe %>
      <% end %>
    </p>
    <p><%= link_to '詳しく見る', recipe %></p>
  </div>
</article>