<div class="search-container">
  <h3>レシピから検索</h3>
  <%= search_form_for @q, url: search_index_recipes_path, class: "pt-5" do |f| %>
    <div>
      <%= f.search_field :title_or_content_cont, placeholder: "タイトルもしくは内容", class: "rounded-xl py-1 outline-none bg-gray-200 w-52 focus:ring-4 focus:ring-quaternary" %>
      <div class="radio-wrapper">
        <%= f.radio_button :cooking_time_lteq, "30" %>30分以内
        <%= f.radio_button :cooking_time_lteq, "60" %>60分以内
        <%= f.radio_button :cooking_time_gt, "60" %>それ以上
      </div>
      <div class="radio-wrapper">
        <%= f.radio_button :cooking_cost_lteq, "500" %>500円以内
        <%= f.radio_button :cooking_cost_lteq, "1000" %>1000円以内
        <%= f.radio_button :cooking_cost_lteq, "2000" %>2000円以内
        <%= f.radio_button :cooking_cost_gt, "2000" %>それ以上
      </div>
      <div class="radio-wrapper">
        <%= f.radio_button :calorie_lteq, "500" %>500kcal以下
        <%= f.radio_button :calorie_lteq, "1000" %>1000kcal以下
        <%= f.radio_button :calorie_lteq, "2000" %>2000kcal以下
        <%= f.radio_button :calorie_gt, "2000" %>それ以上
      </div>
    </div>
    <div class="pt-10">
      <h3 class="pb-6">ジャンルから検索</h3>
      <div>
        <p class="pb-2">主食</p>
        <%= f.check_box :genre_staple_food_eq_any, { multiple: true }, "1", "" %>ごはん
        <%= f.check_box :genre_staple_food_eq_any, { multiple: true }, "2", "" %>パン
        <%= f.check_box :genre_staple_food_eq_any, { multiple: true }, "3", "" %>麺類
      </div>
      <div>
        <p class="pb-2 pt-3">主菜</p>
        <%= f.check_box :genre_main_dish_eq_any, { multiple: true }, "1", "" %>肉料理
        <%= f.check_box :genre_main_dish_eq_any, { multiple: true }, "2", "" %>魚料理
        <%= f.check_box :genre_main_dish_eq_any, { multiple: true }, "3", "" %>卵料理
        <%= f.check_box :genre_main_dish_eq_any, { multiple: true }, "4", "" %>大豆料理
      </div>
      <div>
        <p class="pb-2 pt-3">副菜</p>
        <%= f.check_box :genre_side_dish_eq_any, { multiple: true }, "1", "" %>野菜料理
        <%= f.check_box :genre_side_dish_eq_any, { multiple: true }, "2", "" %>きのこ料理
        <%= f.check_box :genre_side_dish_eq_any, { multiple: true }, "3", "" %>芋料理
      </div>
      <div>
        <p class="pb-2 pt-3">各国料理</p>
        <%= f.check_box :genre_country_dish_eq_any, { multiple: true }, "1", "" %>日本料理
        <%= f.check_box :genre_country_dish_eq_any, { multiple: true }, "2", "" %>韓国料理
        <%= f.check_box :genre_country_dish_eq_any, { multiple: true }, "3", "" %>中華料理
        <%= f.check_box :genre_country_dish_eq_any, { multiple: true }, "4", "" %>イタリアン料理
        <%= f.check_box :genre_country_dish_eq_any, { multiple: true }, "5", "" %>アジア料理
        <%= f.check_box :genre_country_dish_eq_any, { multiple: true }, "6", "" %>エスニック料理
        <%= f.check_box :genre_staple_food_or_genre_main_dish_or_genre_side_dish_or_genre_country_dish_eq_any, { multiple: true }, "0", "" %>その他
      </div>
    </div>
    <div class="text-center"><%= f.submit "検索" %></div>
  <% end %>
</div>