<div class="recipes-container">
  <aside class="pl-3 flex-left">
    <%= render "search_form", collection: @q %>
  </aside>

  <main class="flex-center">
    <div class="px-10 m-auto">
      <% if current_user.characteristic == "general" %>
        <section class="mb-10">
          <h2 class="mb-3.5 text-2xl">あなたへのおすすめ</h2>
          <%= render "recipes/shared/recommend", recommend: @recommend %>
        </section>
      <% end %>

      <section>
        <h2 class="text-2xl">レシピ一覧</h2>
        <div class="recipeArticles-wrapper">
          <%= render @recipes %>
        </div>
      </section>
    </div>
  </main>

  <aside class="pr-3 flex-right">
    <% if user_signed_in? %>
      <div>
        <p><%= current_user.name %>さんの情報</p>
        <p>現在の Lv. <%= current_user.level %></p>
        <p>経験値 <%= current_user.experience_point %>Exp</p>
        <p>次のレベルまであと <%= current_user.rest_point %>Exp</p>
      </div>
    <% else %>
      <div>
        <p>ユーザ情報</p>
        <p>新規登録 or ログインをするとユーザ情報を表示します</p>
        <%= link_to 'ログイン', new_user_session_path, class: 'login-btn' %>
      </div>
    <% end %>
    <div class="mt-8">
      <p>運営からのお知らせ</p>
      <p>5/1 マイページの閲覧などができるようになりました</p>
      <p>4/29 Googleアカウントでのログインができるようになりました</p>
      <p>4/26 レベル機能を追加しました</p>
    </div>
  </aside>
</div>
<div class="paginate"><%= paginate @recipes %></div>
