<section class="py-20">
  <div class="w-4/5 m-auto">
    <div>
      <h1>Search for Recipe</h1>
      <%= search_form_for @q, url: search_recipes_path do |f| %>
        <%= f.label :title_or_content_cont, "タイトルもしくは内容を検索" %>
        <%= f.search_field :title_or_content_cont %><br>
        <%= f.radio_button :cooking_time_lteq, "30" %>30分以内
        <%= f.radio_button :cooking_time_lteq, "60" %>60分以内
        <%= f.radio_button :cooking_time_gt, "60" %>それ以上
        <br>
        <%= f.radio_button :cooking_cost_lteq, "500" %>500円以内
        <%= f.radio_button :cooking_cost_lteq, "1000" %>1000円以内
        <%= f.radio_button :cooking_cost_lteq, "2000" %>2000円以内
        <%= f.radio_button :cooking_cost_gt, "2000" %>それ以上
        <br>
        <%= f.radio_button :calorie_lteq, "500" %>500kcal以下
        <%= f.radio_button :calorie_lteq, "1000" %>1000kcal以下
        <%= f.radio_button :calorie_lteq, "2000" %>2000kcal以下
        <%= f.radio_button :calorie_gt, "2000" %>それ以上
        <br>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <% if current_user.characteristic == "general" %>
      <div>
        <h1>Recomend for you</h1>
        <div>
          <% if @recommend.menu_image.present? %>
            <%= image_tag @recommend.menu_image.thumb.url %>
          <% else %>
            <%= image_tag @recommend.menu_image.url %>
          <% end %>
        </div>
        <p><%= @recommend.title %></p>
      </div>
    <% end %>
    <div>
      <h1>Recipes</h1>
    </div>
    <div class="grid grid-cols-3 gap-4 my-10">
      <%= render @recipes %>
    </div>
  </div>
  <div><%= paginate @recipes %></div>
</section>