<article class="recipeDetaile-wrapper">
  <%= link_to :back, class: "back-link text-xl" do %>
    <i class="fa-solid fa-angles-left"></i> 戻る
  <% end %>
  <div class="flex recipeDetaile-flex">
    <div class="makeRecipe-wrapper">
      <%# =====「作ってみた！」とお気に入りの部分テンプレート ===== %>
      <% if current_user.id != @recipe.user_id %>
        <%= render "recipes/shared/makes_favorites", recipe: @recipe %>
      <% end %>
    </div>

    <div class="commonCard-outstyle recipe-card">
      <div>
        <div class="flex justify-between items-center">
          <p class="text-sm ml-2">
            投稿日 <%= l @recipe.created_at %>
            <% if @recipe.created_at != @recipe.updated_at %>
              <span class="ml-2">更新日 <%= l @recipe.updated_at %></span>
            <% end %>
          </p>
          <div class="flex">
            <% if current_user.id == @recipe.user_id %>
              <%= link_to edit_recipe_path(@recipe) do %>
                <i class="fa-solid fa-pen-to-square recipe-editIcon recipe-edit"></i>
              <% end %>
              <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: '削除してもよろしいですか？'} do %>
                <i class="fa-solid fa-trash-can recipe-deleteIcon recipe-delete"></i>
              <% end %>
            <% else %>
              <%# ===== sp/tb用 作ってみた/お気に入りボタン ===== %>
              <%= render "recipes/shared/makes_favorites", recipe: @recipe %>
            <% end %>
          </div>
        </div>

        <div class="flex m-0 md:mb-8 md:ml-2">
          <%= image_tag check_user_profile_image(@contributor), class: "user-profileImage mr-2" %>
          <p><%= @contributor.name %></p>
        </div>
        
        <div>
          <%= image_tag @recipe.menu_image.url, class: "show-menuImg" %>
        </div>
        <div class="text-center">
          <h2 class="text-2xl m-3.5"><%= @recipe.title %></h2>
        </div>
      </div>
      
      <section class="p-0 md:p-4">
        <div class="recipiSub_info">
          <p><span class="sub-info">調理時間</span> <%= @recipe.cooking_time %>分</p>
          <p><span class="sub-info">目安費用</span> <%= @recipe.cooking_cost %>円</p>
          <p><span class="sub-info">カロリー</span> <%= @recipe.calorie %>kcal</p>
        </div>

        <div class="show-recipeContent">
          <p class="text-xl"><%= safe_join(@recipe.content.split("\n"),tag(:br)) %></p>
        </div>

        <% if @contributor.url.present? %>
          <div class="mt-8">
            <p>投稿者のサイトを訪れてみる</p>
            <%= link_to @contributor.url, class: "hover:text-quaternary" do %>
              <%= @contributor.url %>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <% end %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</article>