<article class="recipe-container">
  <header>
    <div class="flex justify-end">
      <p>
        投稿日 <%= l @recipe.created_at %>
        <% if @recipe.created_at != @recipe.updated_at %>
          更新日 <%= l @recipe.updated_at %>
        <% end %>
      </p>
      <p><%= link_to '編集', edit_recipe_path(@recipe) if current_user.id == @recipe.user_id %></p>
    </div>
    
    <div><%= image_tag @recipe.menu_image.url %></div>
    <div class="text-center"><h2><%= @recipe.title %></h2></div>
  </header>
  
  <div class="flex justify-around w-8/12 m-auto">
    <p>調理時間 <%= @recipe.cooking_time %>分</p>
    <p>目安費用 <%= @recipe.cooking_cost %>円</p>
    <p>カロリー <%= @recipe.calorie %>kcal</p>
  </div>
  <div>
    <p class="text-xl"><%= @recipe.content %></p>
  </div>
    <p>
      <% if @recipe.maked_by?(current_user) %>
        <%# 「作ってみた!」を押している状態 %>
        <%= render "make", recipe: @recipe %>
      <% else %>
        <%# 「作ってみた!」を押していない状態 %>
        <%= render "nonmake", recipe: @recipe %>
      <% end %>
    </p>
    <% if current_user.id == @recipe.user_id %>
      <p><%= link_to '削除', recipe_path(@recipe), method: :delete, data: { confirm: '削除してもよろしいですか？'} %></p>
    <% end %>
</article>