<article class="recipeDetaile-wrapper">
  <%= link_to :back, class: "back-link text-xl" do %>
    <i class="fa-solid fa-angles-left"></i> 戻る
  <% end %>
  <div class="flex recipeDetaile-flex">
    <div class="makeRecipe-wrapper">
      <% if current_user.id != @recipe.user_id %>
        <p id="recipe-<%= @recipe.id %>" class="make-icon lg:mb-4">
          <% if @recipe.maked_by?(current_user) %>
            <%# 「作ってみた!」を押している状態 %>
            <%= render "makes/make", recipe: @recipe %>
          <% else %>
            <%# 「作ってみた!」を押していない状態 %>
            <%= render "makes/nonmake", recipe: @recipe %>
          <% end %>
        </p>
        <%# ===== お気に入り機能 ===== %>
        <p id="favorite-<%= @recipe.id %>" class="make-icon favorite-btn">
          <% if @recipe.favorited_by?(current_user) %>
            <%= render "favorites/favorite", recipe: @recipe %>
          <% else %>
            <%= render "favorites/nonfavorite", recipe: @recipe %>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="commonCard-outstyle recipe-card">
      <header>
        <div class="flex justify-between items-center mb-2">
          <p class="text-sm ml-2">
            投稿日 <%= l @recipe.created_at %>
            <% if @recipe.created_at != @recipe.updated_at %>
              <span class="ml-2">更新日 <%= l @recipe.updated_at %></span>
            <% end %>
          </p>
          <div class="flex">
            <% if current_user.id == @recipe.user_id %>
              <%= link_to edit_recipe_path(@recipe) do %>
                <i class="fa-solid fa-pen-to-square recipe-editIcon recipe-edit"></i>
              <% end %>
              <%= link_to recipe_path(@recipe), method: :delete, data: { confirm: '削除してもよろしいですか？'} do %>
                <i class="fa-solid fa-trash-can recipe-deleteIcon recipe-delete"></i>
              <% end %>
            <% else %>
            <%# ===== sp/tb用 作ってみた/お気に入りボタン ===== %>
              <p id="recipe-<%= @recipe.id %>" class="make-icon rsp-makeIcon mr-4">
                <% if @recipe.maked_by?(current_user) %>
                  <%# 「作ってみた!」を押している状態 %>
                  <%= render "makes/make", recipe: @recipe %>
                <% else %>
                  <%# 「作ってみた!」を押していない状態 %>
                  <%= render "makes/nonmake", recipe: @recipe %>
                <% end %>
              </p>
              <%# ===== お気に入り機能 ===== %>
              <p id="favorite-<%= @recipe.id %>" class="make-icon favorite-btn rsp-makeIcon">
                <% if @recipe.favorited_by?(current_user) %>
                  <%= render "favorites/favorite", recipe: @recipe %>
                <% else %>
                  <%= render "favorites/nonfavorite", recipe: @recipe %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>

        <div class="mb-8 ml-2 flex">
          <%= image_tag check_user_profile_image(@contributor), class: "user-profileImage mr-2" %>
          <p><%= @contributor.name %></p>
        </div>
        
        <div>
          <%= image_tag @recipe.menu_image.url, class: "show-menuImg" %>
        </div>
        <div class="text-center">
          <h2 class="text-2xl m-3.5"><%= @recipe.title %></h2>
        </div>
      </header>
      
      <section class="p-0 md:p-4">
        <div class="recipiSub_info">
          <p><span class="sub-info">調理時間</span> <%= @recipe.cooking_time %>分</p>
          <p><span class="sub-info">目安費用</span> <%= @recipe.cooking_cost %>円</p>
          <p><span class="sub-info">カロリー</span> <%= @recipe.calorie %>kcal</p>
        </div>

        <div class="show-recipeContent">
          <p class="text-xl"><%= @recipe.content %></p>
        </div>

        <div class="mt-8">
          <p>投稿者のサイトを訪れてみる</p>
          <%= link_to @contributor.url, class: "hover:text-quaternary" do %>
            <%= @contributor.url %>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</article>