<div class="my-page-wrapper">
	<div class="user-info commonCard-outstyle">
    <div class="user-info-left">
      <%= image_tag check_user_profile_image(@contributor), class: "user-info-image" %>
    </div>

    <div class="user-info-right">
      <div class="user-nameLevel">
        <div>
          <p class="user-infoName"><%= @contributor.name %></p>
          <p>投稿者のHPを覗いてみる ↓</p>
          <%= link_to @contributor.url, target: "_blank", rel: "noopener noreferrer", class: "hover:text-quaternary" do %>
            <%= @contributor.url %>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <% end %>
        </div>
        <div class="user-infoLevel">
          <p>現在 Lv. <span><%= @contributor.level %></span></p>
          <p>経験値 <span><%= @contributor.experience_point %>Exp</span></p>
          <p>次のレベルまであと <span class="inline-block"><%= @contributor.rest_point %>Exp</span></p>
        </div>
      </div>
      <div class="text-lg mt-3">
        <p><%= @contributor.introduction %></p>
      </div>
    </div>
	</div>

  <div class="myRecipes-show">
    <ul class="myRecipes-menu">
      <li><a href="#" class="myRecipes-active" data-id="makedPost-recipes"><%= check_user_characteristic(@contributor) %></a></li>
    </ul>
  
    <section class="user-recipes myRecipes-contents myRecipes-active" id="makedPost-recipes">
      <% if @contributor_recipes.present? %>
        <div class="user-makedRecipes">
          <% @contributor_recipes.each do |recipe| %>
            <%= render "recipes/recipe", recipe: recipe %>
          <% end %>
        </div>
      <% else %>
        <div>
          <p><%= promote_msg(@contributor) %></p>
        </div>
      <% end %>

      <% if @contributor_recipes.count == ApplicationController::PER_PAGE %>
        <div class="paginate pt-10">
          <%= paginate @contributor_recipes %>
        </div>
      <% end %>
    </section>
  </div>
</div>