<div class="my-page-wrapper">
	<div class="user-info commonCard-outstyle">
    <div class="user-info-left">
      <%= image_tag check_user_profile_image(current_user), class: "user-info-image" %>
      <%= link_to "アカウント編集", edit_user_registration_path, class: "user-info-link" %>
    </div>
    <div class="user-info-right">
      <div class="user-nameLevel">
        <p class="user-infoName"><%= current_user.name %></p>
        <div class="user-infoLevel">
          <p>現在 Lv. <span><%= current_user.level %></span></p>
          <p>経験値 <span><%= current_user.experience_point %>Exp</span></p>
          <p>次のレベルまであと <span><%= current_user.rest_point %>Exp</span></p>
        </div>
      </div>
      <div class="text-lg mt-3">
        <p><%= current_user.introduction %></p>
      </div>
    </div>
	</div>

	<div class="user-recipes">
    <p class="text-2xl pb-10 text-center md:text-left"><%= check_user_characteristic(current_user) %></p>
    <% if @recipes.present? %>
      <div class="user-makedRecipes">
        <% @recipes.each do |recipe| %>
          <%= render "recipes/recipe", recipe: recipe %>
        <% end %>
      </div>
    <% else %>
      <div>
        <p><%= promote_msg(current_user) %></p>
      </div>
    <% end %>
	</div>

  <div class="paginate pt-10">
    <%= paginate @recipes %>
  </div>
</div>