<div class="devise-container reset-password">
  <h2 class="text-2xl mb-8"><%= t('.change_your_password') %>する</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%# if @minimum_password_length %>
        <%# <em> t('devise.shared.minimum_password_length', count: @minimum_password_length) </em><br /> %>
      <%# end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "6文字以上の#{t('.new_password')}を入力してください", class: "pl-7" %>
      <i class="fa-solid fa-lock form-icon"></i>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認のためパスワードを再入力してください", class: "pl-7" %>
      <i class="fa-solid fa-circle-check form-icon"></i>
    </div>

    <div class="actions mt-8">
      <%= f.submit t('.change_my_password') %>
    </div>
  <% end %>

  <div class="another-choice">
    <span class="inline-block px-2.5"><p>OR</p></span>
  </div>

  <div class="google-wrapper"><%= render "devise/shared/links" %></div>
</div>