<div class="devise-container reset-password">
  <h2><%= t('.change_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%# if @minimum_password_length %>
        <%# <em> t('devise.shared.minimum_password_length', count: @minimum_password_length) </em><br /> %>
      <%# end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "6文字以上の#{t('.new_password')}を入力してください" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('.confirm_new_password') %>
    </div>

    <div class="actions mt-8">
      <%= f.submit t('.change_my_password') %>
    </div>
  <% end %>

  <p class="m-6">or</p>

  <div class="google-wrapper"><%= render "devise/shared/links" %></div>
</div>