<div class="devise-container reset-password">
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="text-2xl pl-3"><%= t('.forgot_your_password') %></h2>
  <p class="mt-4">パスワード再設定をしましょう！</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: "pl-7" %>
      <i class="fa-solid fa-envelope form-icon"></i>
    </div>

    <div class="actions mt-8">
      <%= f.submit t('.send_me_reset_password_instructions') %>
    </div>
  <% end %>
  
  <div class="another-choice">
    <span class="inline-block px-2.5"><p>OR</p></span>
  </div>

  <div class="google-wrapper">
    <%= render "devise/shared/links" %>
  </div>
</div>