<section class="top-section pt-44 px-20">
  <div class="top-left">
    <div class="mb-20">
      <div class="mb-6 text-center">
        <h1 class="top-heading">FunCooApp</h1>
        <h2 class="sub-heading">- 毎日の料理をもっと楽しく -</h2>
      </div>
      <div class="flex justify-center">
        <div>
          <p class="top-msg">最高のレシピをあなたに。</p>
          <p class="top-msg">達成感を持って毎日の料理が楽しくなります。</p>
        </div>
      </div>
    </div>

    <div class="flex justify-center text-center">
      <div class="px-4">
        <%= link_to '新規登録', new_user_registration_path, class: 'sign-up-btn' %>
      </div>
      <div class="px-4">
        <%= link_to 'ログイン', new_user_session_path, class: 'login-btn' %>
      </div>
      <div class="px-4">
        <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post, class: 'login-btn-guest' %>
      </div>
    </div>
  </div>

  <div class="top-right"><%= image_tag "top-bg-img.jpg", class: "top-img", alt: "トップ画像" %></div>
</section>

<section class="main-section">
    <div class="mb-20">
      <div class="text-center mb-16">
        <h2 class="main-section-heading2">FunCooAppとは？</h2>
      </div>
      <div>
        <div class="flex mx-20">
          <div class="flex-1 text-center">
            <%= image_tag "what-app.png", alt: "アプリ説明画像", class: "what-app-img" %>
            <%= link_to "Idea illustrations by Storyset", "https://storyset.com/idea", class: "credit" %>
          </div>
          <div class="flex-1">
            <h3 class="main-section-heading3 pt-4">直感的に「これだ！」と思う</h3>
            <h3 class="main-section-heading3">レシピを届けたい</h3>
            <p class="app-description">
              FunCooAppでは、食に精通した方々が想いを込めて考案したレシピをあなたにお届けします。毎日の面倒なレシピを考えることに集中するのではなく、料理自体を楽しむことに集中してほしいと願っております。
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-32">
      <div class="text-center mb-16">
        <h2 class="main-section-heading2">おもな機能</h2>
      </div>
      <div class="mb-16">
        <div class="tail-toUser-msg">
          <h3 class="main-section-heading3">個人利用者の方</h3>
        </div>
        <div class="flex justify-center">
          <div class="tail-function-wrapper">
            <%= image_tag "search.png", alt: "検索機能が利用できる", class: "main-section-img" %>
            <div class="px-4">
              <p class="function-title">レシピの検索</p>
              <p>レシピのタイトルから内容、料理時間、カロリー、日本食などのジャンルと様々な視点からレシピを探せます。</p>
            </div>
          </div>

          <div class="tail-function-wrapper">
            <%= image_tag "recommend.png", alt: "レコメンド機能が利用できる", class: "main-section-img" %>
            <div class="px-4">
              <p class="function-title">おすすめ機能</p>
              <p>あなたの好みに合わせておすすめのレシピを提案いたします。今日のご飯にいかがでしょうか。</p>
            </div>
          </div>

          <div class="tail-function-wrapper">
            <%= image_tag "level-status.png", alt: "レベル機能が利用できる", class: "main-section-img" %>
            <div class="px-4">
              <p class="function-title">ステータス機能</p>
              <p>当アプリ機能である「作ってみた！」を押すことでレベルを上げるとステータス機能が上がります。達成感を持って毎日楽しく料理をすることができます。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <div class="tail-toUser-msg">
          <h3 class="main-section-heading3">個人農家/個人飲食店経営の方</h3>
        </div>
        <div class="flex justify-center">
          <div class="tail-function-wrapper">
            <%= image_tag "appeal-food.png", alt: "魅力ある食材をアピールしよう", class: "main-section-img" %>
            <div class="px-4">
              <p class="function-title">魅力ある食材を紹介</p>
              <p>ご自身で生産、考案した魅力ある食材やレシピを投稿してアプリを利用する方々に知ってもらうことができます。</p>
            </div>
          </div>

          <div class="tail-function-wrapper">
            <%= image_tag "lead-url.png", alt: "URLを載せよう", class: "main-section-img" %>
            <div class="px-4">
              <p class="function-title">自身が運営するHPを載せる</p>
              <p>ご自身が持っているHPなどのリンクを共有してアプリを利用する方々に訪れてもらいましょう。</p>
            </div>
          </div>

          <div class="tail-function-wrapper">
            <%= image_tag "ranking.png", alt: "ランキング機能が利用できる", class: "main-section-img" %>
            <div class="px-4">
              <p class="function-title">ランキング機能</p>
              <p>魅力あふれるレシピを投稿して多くの「作ってみた！」を押してもらうことで一覧ページにてそのレシピが表示されアプリを利用する方々の目に留まります。</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="text-center mb-16">
        <h3 class="lead-signUp-msg">毎日楽しく料理ができる</h3>
        <h3 class="lead-signUp-msg">さあ、今すぐ始めましょう！</h3>
      </div>
      <div class="text-center">
        <%= link_to '新規登録', new_user_registration_path, class: 'sign-up-btn' %>
      </div>
    </div>
</section>