<div class="devise-container">
  <div>
    <h2 class="text-2xl text-center lg:text-left">ログイン</h2>

    <div class="flex-none md:flex mt-8 mb-16">
      <div class="flex-1 px-8 text-center">
        <%= image_tag "login-bro.png", alt: "おかえりなさい", class:"login-bro" %>
        <a href="https://storyset.com/user" class="credit">User illustrations by Storyset</a>
      </div>

      <div class="flex-1 px-2 pt-6 md:p-8">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "pl-7" %>
            <i class="fa-solid fa-envelope form-icon"></i>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "pl-7" %>
            <i class="fa-solid fa-lock form-icon"></i>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="check_box">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions mt-8 text-center">
            <%= f.submit t('.sign_in') %><br>
          </div>

          <div class="another-choice">
            <span class="inline-block px-2.5"><p>OR</p></span>
          </div>

          <div class="google-wrapper">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>