<header>
  <div class="header-wrapper">
    <div class="header-left main-logo">
      <%= link_to recipes_path do %>
        <%= image_tag "logo-green.png", alt: "ロゴ画像", class: "header-logo" %>
      <% end %>
    </div>

    <div class="sp-navOpen">
      <span class="sp-navIcon" id="open"><i class="fa-solid fa-bars"></i></span>
    </div>
  </div>
</header>

<div class="overlay">
  <span id="sp-navclose"><i class="fa-solid fa-xmark"></i></span>

  <nav class="nav-wrapper">
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to '一覧', recipes_path %>
        </li>
        <li>
          <% if current_user.characteristic == "corporation" && current_user.name != "ゲストユーザ" %>
            <%= link_to '投稿する', new_recipe_path unless current_page?(new_recipe_path) %>
          <% end %>
        </li>
        <li>
          <%= link_to 'マイページ', users_path %>
        </li>
        <li>
          <%= link_to 'アカウント編集', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to '新規登録', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
        </li>
      <% end %>
    </ul>    
  </nav>
</div>