<div class="header-container">
  <nav class="nav-wrapper">
    <% if user_signed_in? %>
      <%= link_to '一覧', recipes_path, class: 'nav-link' %>
      <%= link_to '投稿する', new_recipe_path, class: 'nav-link' %>
      <%= link_to 'アカウント編集', edit_user_registration_path,class: 'nav-link' %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
      <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post, class: 'nav-link' %>
    <% end %>
  </nav>
</div>