<header>
  <div class="header-wrapper">
    <div class="header-left main-logo">
      <%= link_to recipes_path do %>
        <%= image_tag "logo-green.png", alt: "ロゴ画像", class: "header-logo" %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="md-headerRight">
        <%# ===== 検索ボックス ===== %>
        <div class="header-searchContainer">
          <%= search_form_for @q, url: url do |f| %>
            <%= f.search_field :title_or_content_cont, placeholder: "タイトルもしくは内容", class: "header-q searchForm-outstyle" %>
            <%= f.button :type => "submit" do %>
              <span><i class="fa-solid fa-magnifying-glass searchIcon"></i></span>
            <% end %>
          <% end %>
        </div>

        <%# ===== ユーザのプロフィール画像 ===== %>
        <div class="md-navOpen" id="md-navOpen">
          <%= image_tag check_user_profile_image(current_user), class: "user-profileImage" %>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
    <% else %>
      <div class="md-headerRight">
        <ul class="flex">
          <li class="text-white mx-2 lg:mx-7">
            <%= link_to '新規登録', new_user_registration_path if !current_page?(new_user_registration_path) %>
          </li>
          <li class="text-white mx-2 lg:mx-7">
            <%= link_to 'ログイン', new_user_session_path if !current_page?(new_user_session_path) %>
          </li>
          <li class="text-white mx-2 lg:mx-7">
            <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
          </li>
        </ul>
      </div>
    <% end %>

    <%# ===== スマートフォン時のハンバーガーメニューアイコン ===== %>
    <div class="sp-navOpen">
      <span class="sp-navIcon" id="sp-navOpen"><i class="fa-solid fa-bars"></i></span>
    </div>
  </div>
</header>

<%# ===== ここからタブレット/PC用のナビ ===== %>
<div class="md-navWrapper commonCard-outstyle">
  <nav class="nav-wrapper">
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to '一覧', recipes_path %>
        </li>
        <% if current_user.characteristic == "corporation" && current_user.name != "ゲストユーザ" %>
          <li>
            <%= link_to '投稿する', new_recipe_path unless current_page?(new_recipe_path) %>
          </li>
        <% end %>
        <li>
          <%= link_to 'ランキング', ranks_path %>
        </li>
        <li>
          <%= link_to "マイページ", user_path(current_user, page: "mypage") %>
        </li>
        <li>
          <%= link_to 'アカウント編集', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてもよろしいですか？'}, class: "log-out" %>
        </li>
      <% end %>
    </ul>    
  </nav>
</div>

<%# ===== ここからスマートフォン用のナビ ===== %>
<div class="overlay">
  <span id="sp-navclose"><i class="fa-solid fa-xmark"></i></span>

  <nav class="nav-wrapper">
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to '一覧', recipes_path %>
        </li>
        <% if current_user.characteristic == "corporation" && current_user.name != "ゲストユーザ" %>
          <li>
            <%= link_to '投稿する', new_recipe_path unless current_page?(new_recipe_path) %>
          </li>
        <% end %>
        <li>
          <%= link_to 'ランキング', ranks_path %>
        </li>
        <li>
          <%= link_to "マイページ", user_path(current_user, page: "mypage") %>
        </li>
        <li>
          <%= link_to 'アカウント編集', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてもよろしいですか？'} %>
        </li>
      <% else %>
        <li>
          <%= link_to '新規登録', new_user_registration_path if !current_page?(new_user_registration_path) %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path if !current_page?(new_user_session_path) %>
        </li>
        <li>
          <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
        </li>
      <% end %>
    </ul>    
  </nav>
</div>